.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}


/* MEDIA QUERY */

/* ROW 1 */
@media screen and (max-width: 419px) {
  body {
    margin: 0;
    font-size: 30px;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-top: 10px;
  }

  #lezioni.container .row {
    background-color: #EFF0C2;
  }

  h1 {
    margin-top: 0;
    display: inline-block;
    font-size: 45px;
  }

  h3 {
    margin: 0;
  }

  #lezioni .row>.left,
  #lezioni .row>.right {
    background-color: #EFF0C2;
    color: gray;
    width: 90%;
    float: none;
    display: inline-block;
    margin-bottom: 10px;
  }

  h3 {
    color: black;
  }

  img {
    height: 150px;
  }

  #steps {
    background-color: white;
  }

  /* ROW 2 */
  #steps.container.grey .row>.left,
  #steps.container.grey .row>.central,
  #steps.container.grey .row>.right {
    color: gray;
    width: 90%;
    float: none;
    display: inline-block;
    margin-bottom: 20px;
  }

  /* Row 3 */
  #why.container.grey .row {
    background-color: #EFF0C2;
  }

  #why.container.grey .row>.first,
  #why.container.grey .row>.second,
  #why.container.grey .row>.third {
    color: gray;
    width: 90%;
    float: none;
    display: inline-block;
    margin-top: 0;
  }

  hr {
    border: 1px solid black;
  }
}

